@charset "UTF-8";

// Mixins
// @import "bower_components/materialize/sass/components/prefixer";
@import "bower_components/materialize/sass/components/mixins";
@import "bower_components/materialize/sass/components/color";

// Variables;
@import "bower_components/materialize/sass/components/variables";

// Reset
@import "bower_components/materialize/sass/components/normalize";

// components
@import "bower_components/materialize/sass/components/global";
@import "bower_components/materialize/sass/components/icons-material-design";
@import "bower_components/materialize/sass/components/grid";
@import "bower_components/materialize/sass/components/navbar";
@import "bower_components/materialize/sass/components/roboto";
@import "bower_components/materialize/sass/components/typography";
@import "bower_components/materialize/sass/components/cards";
@import "bower_components/materialize/sass/components/toast";
@import "bower_components/materialize/sass/components/tabs";
@import "bower_components/materialize/sass/components/tooltip";
@import "bower_components/materialize/sass/components/buttons";
@import "bower_components/materialize/sass/components/dropdown";
@import "bower_components/materialize/sass/components/waves";
@import "bower_components/materialize/sass/components/modal";
@import "bower_components/materialize/sass/components/collapsible";
@import "bower_components/materialize/sass/components/chips";
@import "bower_components/materialize/sass/components/materialbox";
@import "bower_components/materialize/sass/components/forms/forms";
@import "bower_components/materialize/sass/components/table_of_contents";
@import "bower_components/materialize/sass/components/sideNav";
@import "bower_components/materialize/sass/components/preloader";
@import "bower_components/materialize/sass/components/slider";
@import "bower_components/materialize/sass/components/carousel";
@import "bower_components/materialize/sass/components/date_picker/default";
@import "bower_components/materialize/sass/components/date_picker/default.date";
@import "bower_components/materialize/sass/components/date_picker/default.time";

$site-main: #75aeec;

body {
  font-family: "Mplus 1p";
  background-color: #e2f3f5;
}

nav {
  color: #444;
}

#main-nav {
  background-color: $site-main;
  h1 {
    font-size: 20px;
    text-align: center;
    .wrap {
      display: inline-block;
      padding: 1.75em;
      background-color: #fff;
      border-radius: 999px;
      margin-bottom: 1em;
      .fa {
        font-size: 77px;
        color: $site-main;
        top: -.5em;
      }
    }
  }
  li {
    background-color: lighten($site-main, 15%);
    a {
      color: darken($site-main, 25%);
      border-bottom: 1px solid $site-main;
    }
    &:last-child {
      a {border-bottom: 0;}
    }
  }
}

#main-content {
  @media #{$medium-and-up} {
    margin-left: 300px;
  }

}
