@charset "UTF-8";

$site-main: #75aeec;
$primary-color: $site-main;

// Mixins
// @import "bower_components/materialize/sass/components/prefixer";
@import "bower_components/materialize/sass/components/mixins";
@import "bower_components/materialize/sass/components/color";

// Variables;
@import "bower_components/materialize/sass/components/variables";

// Reset
@import "bower_components/materialize/sass/components/normalize";

// components
@import "bower_components/materialize/sass/components/global";
@import "bower_components/materialize/sass/components/icons-material-design";
@import "bower_components/materialize/sass/components/grid";
@import "bower_components/materialize/sass/components/navbar";
@import "bower_components/materialize/sass/components/roboto";
@import "bower_components/materialize/sass/components/typography";
@import "bower_components/materialize/sass/components/cards";
@import "bower_components/materialize/sass/components/toast";
@import "bower_components/materialize/sass/components/tabs";
@import "bower_components/materialize/sass/components/tooltip";
@import "bower_components/materialize/sass/components/buttons";
@import "bower_components/materialize/sass/components/dropdown";
@import "bower_components/materialize/sass/components/waves";
@import "bower_components/materialize/sass/components/modal";
@import "bower_components/materialize/sass/components/collapsible";
@import "bower_components/materialize/sass/components/chips";
@import "bower_components/materialize/sass/components/materialbox";
@import "bower_components/materialize/sass/components/forms/forms";
@import "bower_components/materialize/sass/components/table_of_contents";
@import "bower_components/materialize/sass/components/sideNav";
@import "bower_components/materialize/sass/components/preloader";
@import "bower_components/materialize/sass/components/slider";
@import "bower_components/materialize/sass/components/carousel";
@import "bower_components/materialize/sass/components/date_picker/default";
@import "bower_components/materialize/sass/components/date_picker/default.date";
@import "bower_components/materialize/sass/components/date_picker/default.time";


*>*:first-child {
  margin-top: 0;
}

*>*:last-child {
  margin-bottom: 0;
}

body {
  font-family: "Hannari", serif;
  background-color: #e6f4ff;
  @media print {
    background-color: transparent;
  }
}

nav {
  color: #444;
}

[type=checkbox]:checked, [type=checkbox]:not(:checked) {
  position: relative;
  left:0;
  opacity: 1;
}

#mobile-nav {
  margin-bottom: 0;
  .button-collapse {
    height: auto !important;
    background-color: #fff;
    color: $site-main;
    i {
      margin-right: 1em;
    }
  }
  @media print {
    display: none;
  }
  h1 {
    font-size: 22px;
    color: #fff;
  }
}

#main-nav {
  @media print {
    display: none;
  }
  background-color: $site-main;
  h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 2.1rem;
    .wrap {
      display: inline-block;
      padding: 1.75em;
      background-color: #fff;
      border-radius: 999px;
      margin-bottom: 1em;
      .fa {
        font-size: 77px;
        color: $site-main;
        top: -.5em;
      }
    }
  }
  li {
    background-color: lighten($site-main, 25%);
    a {
      color: darken($site-main, 25%);
      border-bottom: 1px solid $site-main;
      &:hover {
        background-color: rgba(255,255,255,.75);
      }
    }
    &:last-child {
      a {border-bottom: 0;}
    }
  }
}

#main-content {
  @media #{$large-and-up} {
    margin-left: 300px;
  }
  header.inner {
    background-color: darken($site-main, 25%);
    color: #fff;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;

    .desc {
      margin-bottom: 1em;
    }

    @media print {
      height: 25vh;
    }

    .title-sec {
      @media print {
        width: 50%;
        float: left;
      }
    }


    h2 {
      font-size: 42px;
    }
  }
}

@media print {
  .content_inner {
    height: 75vh;
  }
}

#date-selector {
  margin-bottom: 0;
}

.tt {
  @media screen and (max-width: 320px) {
    th {
      width: 3em !important;
      padding: 1em .5em;
    }
    ol {
      margin-left: 3.5em !important;
    }
  }
  ol {
    padding-left: 0;
  }
  li {
    list-style-type: none;
    display: inline-block;
  }
  @media print {
    th,td {
      font-size: 10pt;
      padding-top: .6em;
      padding-bottom: .6em;
    }
  }
}

table.striped>tbody>tr:nth-child(odd) {
  background-color: #fafeff;
}

#holiday {
  table {
    background-color: #fbe7ec !important;
  }
  table.striped>tbody>tr:nth-child(odd) {
    background-color: #fffafc;
  }
}

.holiday {
  a {
    color: #f24 !important;
  }
}

.tt {
  th {
    border-right: 1px solid #ddd;
    width: 5em;
    text-align: center;
  }
  ol {
    position: relative;
    margin-left: 5em;
  }
  li {
    position: absolute;
    line-height: 0;
    font-size: 150%;
    @media #{$small-and-down} {
      transform: scale(0.7,1);
      letter-spacing: -0.1em;
    }
    &.dms {
      &::after {
        content: "清";
        font-size: 50%;
        position: absolute;
        top: -1em;
        right: -1em;
      }
    }
    &.dm5 {
      &::after {
        content: "五";
        font-size: 50%;
        position: absolute;
        top: -1em;
        right: -1em;
      }
    }
    &.dmm {
      &::after {
        content: "メ";
        font-size: 50%;
        position: absolute;
        top: -1em;
        right: -1em;
      }
    }
  }
}

#annotation {
  text-align: left;
  h3 {
    font-size: 14px;
    color: $site-main;
    border-right: 1px solid $site-main;
  }

  @media print {
    width: 50%;
    float: right;
  }
}

.dms {
  color: blue;
}

.dm5 {
  color: green;
}

.dmm {
  color: red;
}

#clock {

  width: 100%;
  &-wrap {
    text-align: center;
    position: fixed;
    top: 1em;
    right: 1em;
    width: 10vw;
    @media print {
      display: none;
    }
    .text-time {
      margin-top: -1em;
      color: #444;
      font-weight: 600;
      text-shadow: 2px 2px 1px #efefef,
              　    -2px 2px 1px #efefef,
              　    2px -2px 1px #efefef,
              　    -2px -2px 1px #efefef;
    }
  }
  p {
    margin-bottom: 0;
  }
  .time {
    font-size: 2.7rem;
    margin-top: 0;
    .sub {
      font-size: 1.4rem;
    }
  }
}

.dms.selector {
  input[type="checkbox"]:checked + .lever::after {
    background-color: blue;
  }
}
