!doctype html
html(lang='ja')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title 千里丘ジャンボタクシー時刻表
    //- CSS
    //- link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://fonts.googleapis.com/earlyaccess/mplus1p.css', rel='stylesheet')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    link(href='common/css/app.min.css', type='text/css', rel='stylesheet', media='screen,projection')
  body
    .row.show-on-small
      a(href="#", data-activates="main-nav").button-collapse ≡MENU


    nav#main-nav.side-nav.fixed
      h1
        span.wrap
          i.fa.fa-bus
        br
        |千里丘ジャンボタクシー
        br
        |時刻表
      ul
        li: a(href="#") この時刻表について
        li: a(href="#") ジャンボタクシーについて
        li: a(href="#") 千里丘駅 時刻表
    main#main-content
      - for(var i = 1; i<=100; i++) {
        p hogehoge
      - }
    //- Scripts
    script(src='common/js/app.min.js')
