nav#main-nav.side-nav.fixed
  h1
    span.wrap
      i.fa.fa-bus
    br
    |千里丘ジャンボタクシー
    br
    |時刻表
  ul
    li: a(href="#") この時刻表について
    li: a(href="#") ジャンボタクシーについて
    li: a(href="#") 千里丘駅 時刻表
